@font-face {
	font-family: 'fivosans-bold';
	src: url('../fonts/fivosans-bold.eot');
	src: local('☺'), url('../fonts/fivosans-bold.woff') format('woff'), url('../fonts/fivosans-bold.ttf') format('truetype'), url('../fonts/fivosans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'fivosans-heavy';
	src: url('../fonts/fivosans-heavy.eot');
	src: local('☺'), url('../fonts/fivosans-heavy.woff') format('woff'), url('../fonts/fivosans-heavy.ttf') format('truetype'), url('../fonts/fivosans-heavy.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'fivosans-light';
	src: url('../fonts/fivosans-light.eot');
	src: local('☺'), url('../fonts/fivosans-light.woff') format('woff'), url('../fonts/fivosans-light.ttf') format('truetype'), url('../fonts/fivosans-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'fivosans-medium';
	src: url('../fonts/fivosans-medium.eot');
	src: local('☺'), url('../fonts/fivosans-medium.woff') format('woff'), url('../fonts/fivosans-medium.ttf') format('truetype'), url('../fonts/fivosans-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'fivosans-oblique';
	src: url('../fonts/fivosans-oblique.eot');
	src: local('☺'), url('../fonts/fivosans-oblique.woff') format('woff'), url('../fonts/fivosans-oblique.ttf') format('truetype'), url('../fonts/fivosans-oblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fivosans-regular';
	src: url('../fonts/fivosans-regular.eot');
	src: local('☺'), url('../fonts/fivosans-regular.woff') format('woff'), url('../fonts/fivosans-regular.ttf') format('truetype'), url('../fonts/fivosans-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}