.header {
    background-image: url(../../img/header__bg.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: contain;

    padding-top: 275px;
    position: relative;
    &__wrapper {
        width: 545px;
        margin-bottom: 75px;
        &-btn {
            margin-bottom: 450px;
        }
    }
    &__subtitle {
        font-size: 18px;
        font-family: 'fivosans-light';
        line-height: 2;

        width: 460px;
    }
}